{extends file="theme.html"}
{block name=body}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Cadastrar</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Entrada de produtos</li>
      </ol>
      <div class="row flex_mb_lg">
        <div class="card pt-5 px-5">
          <div class="pt-2 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Novo produto</h5>
            <p class="text-center small">Preencha os dados do novo produto</p>
          </div>
          <form class="row g-3 form_submit pb-5 pt-2" action="/cadastrar" method="POST">
            <input type="hidden" name="token" value="">
            <div class="col-md-6">
              <input type="text" class="form-control" name="product" placeholder="Produto">
            </div>
            <div class="col-md-6">
              <input type="number" class="form-control" name="quantity" placeholder="Quantidade">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control data" name="validade" placeholder="Validade">
            </div>
            <div class="col-md-6 pb-2">
              <input type="text" class="form-control" name="zv" placeholder="Quantidade mínima">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
{/block}
