{extends file="theme.html"}
{block name=body}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Entrada em estoque</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Entrada de produtos</li>
            </ol>
            <div class="row flex_mb_lg">
                <div class="card  pt-5 px-5">
                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Dar Entrada</h5>
                        <p class="text-center small">Escolha o produto e informe a quantidade</p>
                    </div>
                    <form class="row g-3 form_submit pb-5 pt-2" action="/produto/entrada" method="POST">
                        <input type="hidden" name="token" value="">
                        <div class="col-md-12">
                            <select name="product" id="" class="form-control">
                                <option value="">Selecione um produto</option>
                                {foreach item=item from=$products}
                                <option value="{$item.Id}">{$item.product}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="quantity" placeholder="Quantidade">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Concluir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{/block}