{extends file="theme.html"}
{block name=body}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Estoque</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Entrada e saída</li>
      </ol>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card bg-danger text-white mb-4">
            <div class="card-body">Produtos em zona vermelha - {$quant}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <button type="button" class="small text-white stretched-link" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" style="border: none; background: none;">Ver produtos</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <table class="table">
            <thead>
              <tr>
                <th> Produto </th>
                <th class="text-end"> Valores</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {foreach item=item from=$products}
              <tr>
                <td> <b class=""> {$item.product}</b> <br> {$item.quantity} unidades </td>
                <td style="text-align: end;"> <b> R${$item.value} </b> </td>
                <td class="text-center"><button class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modalEdit" data-produto="{$item.product}" data-valor="{$item.value}" data-id="{$item.Id}"><i
                      class="bi bi-pencil-square"></i></button> <button class="btn btn-danger" data-bs-toggle="modal" 
                      data-bs-target="#modalDelet" data-product="{$item.product}" data-val="{$item.value}" data-quant="{$item.quantity}" data-idpro="{$item.Id}"><i
                      class="bi bi-x-square"></i></button></td>
              </tr>
              {/foreach}
          </table>
        </div>

      </div>
    </div>
  </main>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; SSG (Softwares de Serviços Gerais)</div>

      </div>
    </div>
  </footer>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Produtos em Zona Vermelha</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {foreach item=item from=$products2}
        <p class="my-1"> <b class="text-danger"> {$item.product}</b> - {$item.quantity} unidades </p>
        {/foreach}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Produtos em Zona Vermelha</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/produto/editar" method="post">
          <input type="hidden" name="idProduto" id="idProduto">
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="product" class="form-label">Produto</label>
              <input type="text" name="product" class="form-control" id="produto">
            </div>
            <div class="col-md-12 mb-3">
              <label for="value" class="form-label">Preço</label>
              <input type="text" name="value" class="form-control" id="valor">
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Alterar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDelet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Produtos em Zona Vermelha</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/produto/delet" method="post">
          <input type="hidden" name="idProduto" id="idpro">
          <div class="row"><div class="col-md-12 mb-3 d-flex align-items-center">
            <i class="bi bi-square-fill text-danger"></i> <p class="m-0 ps-1" id="product"></p>
          </div>
          <div class="row"><div class="col-md-12 mb-3 d-flex align-items-center">
            <i class="bi bi-square-fill text-danger"></i> <p class="m-0 px-1" id="quant"></p> Unidades
          </div>
          <div class="row"><div class="col-md-12 mb-3 d-flex align-items-center">
            <i class="bi bi-square-fill text-danger me-2"></i> R$<p class="m-0" id="val"></p>
          </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger" type="submit">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{/block}