<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="../src/assets/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body class="sb-nav-fixed">
    {if $VTopo != "N"}
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">SSG - SGControle</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {/if}
    <div id="layoutSidenav">
        {if $VTopo != "N"}
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Ações</div>
                        <a class="nav-link" href="/listagem">
                            <div class="sb-nav-link-icon"><i class="bi bi-table"></i></div>
                            Estoque
                        </a>
                        <a class="nav-link" href="/adicionar">
                            <div class="sb-nav-link-icon"><i class="bi bi-plus-square"></i></div>
                            Adicionar produto
                        </a>
                        <a class="nav-link" href="/baixa">
                            <div class="sb-nav-link-icon"><i class="bi bi-dash-square"></i></div>
                            Dar baixa
                        </a>
                        <a class="nav-link" href="/entrada">
                            <div class="sb-nav-link-icon"><i class="bi bi-dash-square"></i></div>
                            Dar entrada
                        </a>
            </nav>
        </div>
        {/if}
        {block name=body}{/block}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="../src/assets/js/datatables-simple-demo.js"></script>
    <script src="../src/assets/js/scripts.js"></script>
    <script>
        $('#modalEdit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var produto = button.data('produto')
            var valor = button.data('valor')
            var idProduto = button.data('id')
            console.log(idProduto);
            var modal = $(this)
            modal.find('.modal-title').text('Alterar: ' + produto)
            modal.find('.modal-body #produto').val(produto)
            modal.find('.modal-body #valor').val(valor)
            modal.find('.modal-body #idProduto').val(idProduto)
        })

        $('#modalDelet').on('show.bs.modal', function (event) {
            var btn = $(event.relatedTarget)
            var product = btn.data('product')
            var val = btn.data('val')
            var quant = btn.data('quant')
            var idpro = btn.data('idpro')
            console.log(product);
            var modal = $(this)
            modal.find('.modal-title').text('Excluir: ' + product)
            modal.find('.modal-body #product').text(product)
            modal.find('.modal-body #quant').text(quant)
            modal.find('.modal-body #val').text(val)
            modal.find('.modal-body #idpro').val(idpro)
        })
    </script>
</body>

</html>